/*Whole page elements*/
body {
    background-color: peru;
}

/*Header specific elements*/
header {
    text-align: center;
    background-color: olive;
    font-family: fantasy;
}

header h1 {
    font-size: 400%;
    padding: 7px;
}

header p {
    padding-bottom: 10px;
}

/*Test timer*/
.timer {
    text-align: center;
}

/*The section of the page containing the start button*/
.start-button {
    text-align: center;
}

/*Styling on the questions*/
.question {
    text-align: center;
    border-style: solid;
    border-width: thick;
    border-radius: 10px;
    border-color: black;
    margin: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

.question h2 {
    text-decoration: underline;
    padding: 4px;
}

.question p {
    margin: 7px;
}

/*The specific questions*/
#question-one,
#question-two,
#question-three,
#question-four {
    display: none;
}

/*The options avavilable within all questions*/
.option {
    padding: 7px;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 5px;
    background-color: darksalmon;
    border-style: solid;
    border-width: thin;
    border-color: black;
    border-radius: 2px;

}

/*The section that displays the participant's score*/
.results {
    text-align: center;
}

/*The button that activates the quiz*/
#begin {
    width: 40%;
    height: 100px;
    margin: 50px;
    font-size: 40px;
    text-decoration: underline;
    background-color: coral;
    border-radius: 10px;
}

/*What happens when you hover over the start button*/
#begin:hover {
    color: azure;
    background-color: brown;
}

/*
.option:hover {
    color: azure;
    background-color: black;
}


